DATABASE_URL="postgresql://postgres.xxx:[YOUR-PASSWORD]@aws-0-us-east-1.pooler.supabase.com:6543/postgres"

DB_CONNECTION_LIMIT=10

# Admin Credentials for CSV Download
ADMIN_USERNAME=admin
ADMIN_PASSWORD=secure_password_here
